header {
    display: flex;
    background-color: #333;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 95%;

            li {
                cursor: pointer;
                &:hover {
                    color: #777;
                }
            }
        }
    }
}
